/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.jumbotron {
    background-image: url("../IMG/coverBackground.jpg");
    background-size: cover;
    width: 100%;
}
@font-face{
    font-family: "Mariage";
    src: url("../assets/Mariage.ttf");
}
.title {
    color: gold; !important;
    font-family: "Mariage";
    opacity: 100%; !important;
}

.jumbotron .title {
    color: #CDB587;
    opacity: 100%;
}
.container {
    background: rgba(0,0,0,0.70);

}
.logo {
    width: 200px;
    height: 200px;
    padding-top: 20px;
}
.jumbotron .introduction {
    color: white;
}
.img-responsive {
    width: 100%;
}